<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Dashboard - CNJ70</title>
    <link rel="stylesheet" th:href="@{/css/admin-vendor.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <th:block th:replace="${content}"></th:block>
</head>
<body>
    <div class="dashboard-container">
        <div th:replace="fragments/dashboard-sidebar"></div>
        <div class="main-content">
            <div th:replace="fragments/dashboard-topbar"></div>
            <main th:replace="${content}"></main>
        </div>
    </div>
    
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
