<div class="topbar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
    <div class="topbar-left">
        <button class="sidebar-toggle" type="button" aria-label="Mở menu">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="topbar-right">
        <span class="user-greeting" sec:authentication="name">User</span>
        <div class="user-avatar">
            <i class="fas fa-user"></i>
        </div>
        <form th:action="@{/auth/logout}" method="post">
            <button type="submit" class="btn btn-logout btn-sm">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
    </div>
</div>
