<div class="topbar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
    <div class="topbar-left">
        <button class="sidebar-toggle" type="button" aria-label="Mở menu điều hướng">
            <i class="fas fa-bars" aria-hidden="true"></i>
        </button>
    </div>
    <div class="topbar-right">
        <div class="user-dropdown">
            <span class="user-name" sec:authentication="name">User</span>
            <form th:action="@{/auth/logout}" method="post" style="display: inline;">
                <button type="submit" class="btn-logout">Đăng xuất</button>
            </form>
        </div>
    </div>
</div>
